:root {
  --card-img-width: 247;
  --card-img-height: 343;
  --card-width: 120px;

  --card-cost-size: 30px;
  --card-gem-size: 50px;
  --card-points-width: 30px;

  --chip-img-width: 203;
  --chip-img-height: 182;
  --chip-width: 70px;
  --player-chip-width: 25px;

  --minicard-img-width: 108;
  --minicard-img-height: 133;
  --minicard-width: 25px;
}

body {
  background-color: #154055;
  margin: 0;
}

header {
  background-color: #103040;
  padding: 5px 30px;
  margin-bottom: 30px;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 1230px;
}

.round-info {
  color: white;
  font-weight: bold;
  visibility: hidden;
}

#btn-forward {
  width: 100px;
  font-size: 30px;
  height: 40px;
  visibility: hidden;
}

.custom-file-upload {
  align-items: center;
  background: #e5e5e5;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 180px;
}

.custom-file-upload .icon {
  font-size: 30px;
  margin-right: 5px;
}

input[type='file'] {
  display: none;
}

.columns {
  display: flex;
  visibility: hidden;
}

div#board {
  margin: 0px 30px;
  width: 700px;
}

#decks {
  display: flex;
  flex-direction: column-reverse;
}

div.deck {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

div.card {
  background-position: center;
  border-radius: 10px;
  background-size: 102%; /* ascunde niște artefacte de la margine */
  box-shadow: 5px 5px 3px #222;
  height: calc(var(--card-width) / var(--card-img-width) * var(--card-img-height));
  width: var(--card-width);
}

div.card-back {
  border: 3px solid white;
  box-sizing: border-box; /* borders inside the box, not outside */
  margin-right: 20px;
}

div.card-back-1 {
  background-image: url(../img/card-back-1.webp);
}

div.card-back-2 {
  background-image: url(../img/card-back-2.webp);
}

div.card-back-3 {
  background-image: url(../img/card-back-3.webp);
}

.card-front {
  position: relative;
}

.card-front > .header {
  background-size: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.card-front .points {
  background-size: 100%;
  height: calc(var(--card-points-width) / var(--minicard-img-width) * var(--minicard-img-height));
  left: 5px;
  position: absolute;
  top: -2px;
  width: var(--card-points-width);
}

.card-front .gem {
  background-size: 100%;
  height: var(--card-gem-size);
  right: 3px;
  position: absolute;
  top: 3px;
  width: var(--card-gem-size);
}

.card-front .costs {
  bottom: 3px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  gap: 1px;
  left: 3px;
  position: absolute;
  height: calc(10px + 2 * var(--card-cost-size));
}

.card-front .costs .cost {
  background-position: center, center;
  background-size: 70%, 115%;
  border: 1px solid white;
  border-radius: calc(1px + var(--card-cost-size) / 2);
  height: var(--card-cost-size);
  min-width: var(--card-cost-size);
}

.card-front .id {
  background: rgba(0, 0, 0, 0.3);
  bottom: 3px;
  color: white;
  font-size: 10px;
  padding: 2px;
  position: absolute;
  right: 3px;
}

.card.secret {
  filter: brightness(50%);
}

#chips {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}

div.chip-stack {
  position: relative;
  width: var(--chip-width);
}

div.chip-stack .stack {
  position: relative;
  height: 120px;
}

div.chip-stack .chip, .animated.chip {
  background-size: 100%;
  height: calc(var(--chip-width) / var(--chip-img-width) * var(--chip-img-height));
  position: absolute;
  width: var(--chip-width);
}

div.counter {
  background: white;
  border: 2px solid black;
  border-radius: 15px;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  width: 26px;
}

div.card-back .counter {
  display: inline-block;
  margin-left: 3px;
  margin-top: 3px;
}

div.chip-stack .counter {
  bottom: 0px;
  position: absolute;
  right: 0px;
  z-index: 10;
}

#nobles {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.noble {
  background-size: 100%;
  position: relative;
  height: 120px;
  width: 120px;
}

.noble .id {
  background: rgba(0, 0, 0, 0.3);
  top: 5px;
  color: white;
  font-size: 10px;
  padding: 2px;
  position: absolute;
  right: 5px;
}

.noble .costs {
  bottom: 7px;
  display: flex;
  gap: 5px;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.noble .minicard {
  background-size: 100%;
  height: calc(var(--minicard-width) / var(--minicard-img-width) * var(--minicard-img-height));
  width: var(--minicard-width);
}

.column-right {
  display: flex;
  flex-direction: column;
  height: 850px; /* TODO fă-o egală cu stînga, mai elegant */
}

#players {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  width: 500px;
}

.player {
  background: #444;
  border-radius: 5px;
  box-shadow: 5px 5px 3px #222;
  color: white;
  height: 235px;
  width: 220px;
}

.player > .header {
  align-items: center;
  background: #222;
  border-radius: 5px 5px 0 0;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
}

.player > .header .name {
  margin-left: 10px;
  flex: 1;
}

.player > .header .score {
  margin-right: 3px;
}

.player .cards, .player .chips {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.player .cards {
  margin-bottom: 5px;
}

.player .chips {
  margin-bottom: 10px;
}

.player .minicard {
  background-size: 100%;
  height: calc(var(--minicard-width) / var(--minicard-img-width) * var(--minicard-img-height));
  width: var(--minicard-width);
}

.player .chip {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%, 100%;
  height: calc(var(--player-chip-width) / var(--chip-img-width) * var(--chip-img-height));
  min-width: var(--player-chip-width);
}

.player .nobles, .player .reserve {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.player .nobles .noble {
  zoom: 0.33;
}

.player .reserve .card {
  zoom: 0.33;
}

.log-wrapper {
  background: #222;
  border-radius: 5px;
  color: white;
  display: flex;
  flex: 1; /* umple restul coloanei drepte */
  flex-direction: column-reverse;
  margin: 0px 30px;
  overflow-y: auto;
  width: 470px;
}

#log {
}

.log-message .name {
  font-weight: bold;
  margin-right: 10px;
}

.log-message {
  border-bottom: 1px solid #444;
  padding: 5px;
}

@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/courgette-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Material Symbols';
  font-style: normal;
  font-weight: 400;
  src: url(../font/material-symbols.woff2) format('woff2');
}

.game-font {
  font-family: 'Courgette', cursive;
}

.icon {
  font-family: 'Material Symbols';
}
